<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
{%  extends "base.html" %}
{%  block body %}
    <body>
    <h1>Overdue Details by Ages</h1>
    <style>.box {  } </style>
    <div class="box">
        <div id="b2a61fcf5d984ffb9c46a8696fde60de" class="chart-container" style="width:900px; height:500px;"></div>
        <script>
            var chart_b2a61fcf5d984ffb9c46a8696fde60de = echarts.init(
                document.getElementById('b2a61fcf5d984ffb9c46a8696fde60de'), 'white', {renderer: 'canvas'});
            var option_b2a61fcf5d984ffb9c46a8696fde60de = {
                "animation": true,
                "animationThreshold": 2000,
                "animationDuration": 1000,
                "animationEasing": "cubicOut",
                "animationDelay": 0,
                "animationDurationUpdate": 300,
                "animationEasingUpdate": "cubicOut",
                "animationDelayUpdate": 0,
                "color": [
                    "#c23531",
                    "#2f4554",
                    "#61a0a8",
                    "#d48265",
                    "#749f83",
                    "#ca8622",
                    "#bda29a",
                    "#6e7074",
                    "#546570",
                    "#c4ccd3",
                    "#f05b72",
                    "#ef5b9c",
                    "#f47920",
                    "#905a3d",
                    "#fab27b",
                    "#2a5caa",
                    "#444693",
                    "#726930",
                    "#b2d235",
                    "#6d8346",
                    "#ac6767",
                    "#1d953f",
                    "#6950a1",
                    "#918597"
                ],
                "series": [
                    {
                        "type": "bar",
                        "name": "\u4eba\u6570\u5206\u5e03",
                        "legendHoverLink": true,
                        "data": [
                            10758,
                            42484,
                            57137,
                            38189,
                            11357
                        ],
                        "showBackground": false,
                        "barMinHeight": 0,
                        "barCategoryGap": "20%",
                        "barGap": "30%",
                        "large": false,
                        "largeThreshold": 400,
                        "seriesLayoutBy": "column",
                        "datasetIndex": 0,
                        "clip": true,
                        "zlevel": 0,
                        "z": 2,
                        "label": {
                            "show": true,
                            "position": "top",
                            "margin": 8
                        }
                    },
                    {
                        "type": "bar",
                        "name": "\u672a\u903e\u671f\u4eba\u6570\u5206\u5e03",
                        "legendHoverLink": true,
                        "data": [
                            9514,
                            38500,
                            53196,
                            36896,
                            11129
                        ],
                        "showBackground": false,
                        "barMinHeight": 0,
                        "barCategoryGap": "20%",
                        "barGap": "30%",
                        "large": false,
                        "largeThreshold": 400,
                        "seriesLayoutBy": "column",
                        "datasetIndex": 0,
                        "clip": true,
                        "zlevel": 0,
                        "z": 2,
                        "label": {
                            "show": true,
                            "position": "top",
                            "margin": 8
                        }
                    },
                    {
                        "type": "bar",
                        "name": "\u903e\u671f\u4eba\u6570\u5206\u5e03",
                        "legendHoverLink": true,
                        "data": [
                            1244,
                            3984,
                            3941,
                            1293,
                            228
                        ],
                        "showBackground": false,
                        "barMinHeight": 0,
                        "barCategoryGap": "20%",
                        "barGap": "30%",
                        "large": false,
                        "largeThreshold": 400,
                        "seriesLayoutBy": "column",
                        "datasetIndex": 0,
                        "clip": true,
                        "zlevel": 0,
                        "z": 2,
                        "label": {
                            "show": true,
                            "position": "top",
                            "margin": 8
                        }
                    }
                ],
                "legend": [
                    {
                        "data": [
                            "\u4eba\u6570\u5206\u5e03",
                            "\u672a\u903e\u671f\u4eba\u6570\u5206\u5e03",
                            "\u903e\u671f\u4eba\u6570\u5206\u5e03"
                        ],
                        "selected": {
                            "\u4eba\u6570\u5206\u5e03": true,
                            "\u672a\u903e\u671f\u4eba\u6570\u5206\u5e03": true,
                            "\u903e\u671f\u4eba\u6570\u5206\u5e03": true
                        },
                        "show": true,
                        "padding": 5,
                        "itemGap": 10,
                        "itemWidth": 25,
                        "itemHeight": 14
                    }
                ],
                "tooltip": {
                    "show": true,
                    "trigger": "item",
                    "triggerOn": "mousemove|click",
                    "axisPointer": {
                        "type": "line"
                    },
                    "showContent": true,
                    "alwaysShowContent": false,
                    "showDelay": 0,
                    "hideDelay": 100,
                    "textStyle": {
                        "fontSize": 14
                    },
                    "borderWidth": 0,
                    "padding": 5
                },
                "xAxis": [
                    {
                        "show": true,
                        "scale": false,
                        "nameLocation": "end",
                        "nameGap": 15,
                        "gridIndex": 0,
                        "inverse": false,
                        "offset": 0,
                        "splitNumber": 5,
                        "minInterval": 0,
                        "splitLine": {
                            "show": false,
                            "lineStyle": {
                                "show": true,
                                "width": 1,
                                "opacity": 1,
                                "curveness": 0,
                                "type": "solid"
                            }
                        },
                        "data": [
                            "0-30",
                            "30-45",
                            "45-60",
                            "60-75",
                            "75-100"
                        ]
                    }
                ],
                "yAxis": [
                    {
                        "show": true,
                        "scale": false,
                        "nameLocation": "end",
                        "nameGap": 15,
                        "gridIndex": 0,
                        "inverse": false,
                        "offset": 0,
                        "splitNumber": 5,
                        "minInterval": 0,
                        "splitLine": {
                            "show": false,
                            "lineStyle": {
                                "show": true,
                                "width": 1,
                                "opacity": 1,
                                "curveness": 0,
                                "type": "solid"
                            }
                        }
                    }
                ],
                "title": [
                    {
                        "text": "\u5404\u5e74\u9f84\u6bb5\u903e\u671f\u60c5\u51b5",
                        "padding": 5,
                        "itemGap": 10
                    }
                ]
            };
            chart_b2a61fcf5d984ffb9c46a8696fde60de.setOption(option_b2a61fcf5d984ffb9c46a8696fde60de);
        </script>
        <br/>                <div id="f8049cf04df74768ba08a02766cd7b7f" class="chart-container" style="width:900px; height:500px;"></div>
        <script>
            var chart_f8049cf04df74768ba08a02766cd7b7f = echarts.init(
                document.getElementById('f8049cf04df74768ba08a02766cd7b7f'), 'white', {renderer: 'canvas'});
            var option_f8049cf04df74768ba08a02766cd7b7f = {
                "animation": true,
                "animationThreshold": 2000,
                "animationDuration": 1000,
                "animationEasing": "cubicOut",
                "animationDelay": 0,
                "animationDurationUpdate": 300,
                "animationEasingUpdate": "cubicOut",
                "animationDelayUpdate": 0,
                "color": [
                    "#c23531",
                    "#2f4554",
                    "#61a0a8",
                    "#d48265",
                    "#749f83",
                    "#ca8622",
                    "#bda29a",
                    "#6e7074",
                    "#546570",
                    "#c4ccd3",
                    "#f05b72",
                    "#ef5b9c",
                    "#f47920",
                    "#905a3d",
                    "#fab27b",
                    "#2a5caa",
                    "#444693",
                    "#726930",
                    "#b2d235",
                    "#6d8346",
                    "#ac6767",
                    "#1d953f",
                    "#6950a1",
                    "#918597"
                ],
                "series": [
                    {
                        "type": "pie",
                        "name": "\u603b\u4f53\u903e\u671f\u4eba\u6570",
                        "clockwise": true,
                        "data": [
                            {
                                "name": "\u672a\u903e\u671f\u4eba\u6570",
                                "value": 139974
                            },
                            {
                                "name": "\u903e\u671f\u4eba\u6570",
                                "value": 10026
                            }
                        ],
                        "radius": [
                            "0%",
                            "75%"
                        ],
                        "center": [
                            "50%",
                            "50%"
                        ],
                        "label": {
                            "show": true,
                            "position": "top",
                            "margin": 8,
                            "formatter": "{b}: {c} ({d}%)"
                        },
                        "tooltip": {
                            "show": true,
                            "trigger": "item",
                            "triggerOn": "mousemove|click",
                            "axisPointer": {
                                "type": "line"
                            },
                            "showContent": true,
                            "alwaysShowContent": false,
                            "showDelay": 0,
                            "hideDelay": 100,
                            "formatter": "{a} <br/>{b}: {c} ({d}%)",
                            "textStyle": {
                                "fontSize": 14
                            },
                            "borderWidth": 0,
                            "padding": 5
                        },
                        "rippleEffect": {
                            "show": true,
                            "brushType": "stroke",
                            "scale": 2.5,
                            "period": 4
                        }
                    }
                ],
                "legend": [
                    {
                        "data": [
                            "\u672a\u903e\u671f\u4eba\u6570",
                            "\u903e\u671f\u4eba\u6570"
                        ],
                        "selected": {},
                        "show": true,
                        "padding": 5,
                        "itemGap": 10,
                        "itemWidth": 25,
                        "itemHeight": 14
                    }
                ],
                "tooltip": {
                    "show": true,
                    "trigger": "item",
                    "triggerOn": "mousemove|click",
                    "axisPointer": {
                        "type": "line"
                    },
                    "showContent": true,
                    "alwaysShowContent": false,
                    "showDelay": 0,
                    "hideDelay": 100,
                    "textStyle": {
                        "fontSize": 14
                    },
                    "borderWidth": 0,
                    "padding": 5
                },
                "title": [
                    {
                        "text": "\u603b\u4f53\u903e\u671f\u4eba\u6570\u5206\u5e03",
                        "padding": 5,
                        "itemGap": 10
                    }
                ]
            };
            chart_f8049cf04df74768ba08a02766cd7b7f.setOption(option_f8049cf04df74768ba08a02766cd7b7f);
        </script>
        <br/>                <div id="b97e561a28674ba097a37dbe2125474c" class="chart-container" style="width:900px; height:500px;"></div>
        <script>
            var chart_b97e561a28674ba097a37dbe2125474c = echarts.init(
                document.getElementById('b97e561a28674ba097a37dbe2125474c'), 'white', {renderer: 'canvas'});
            var option_b97e561a28674ba097a37dbe2125474c = {
                "animation": true,
                "animationThreshold": 2000,
                "animationDuration": 1000,
                "animationEasing": "cubicOut",
                "animationDelay": 0,
                "animationDurationUpdate": 300,
                "animationEasingUpdate": "cubicOut",
                "animationDelayUpdate": 0,
                "color": [
                    "#c23531",
                    "#2f4554",
                    "#61a0a8",
                    "#d48265",
                    "#749f83",
                    "#ca8622",
                    "#bda29a",
                    "#6e7074",
                    "#546570",
                    "#c4ccd3",
                    "#f05b72",
                    "#ef5b9c",
                    "#f47920",
                    "#905a3d",
                    "#fab27b",
                    "#2a5caa",
                    "#444693",
                    "#726930",
                    "#b2d235",
                    "#6d8346",
                    "#ac6767",
                    "#1d953f",
                    "#6950a1",
                    "#918597"
                ],
                "series": [
                    {
                        "type": "pie",
                        "name": "0-30\u5e74\u9f84\u6bb5",
                        "clockwise": true,
                        "data": [
                            {
                                "name": "\u672a\u903e\u671f",
                                "value": 9514
                            },
                            {
                                "name": "\u903e\u671f",
                                "value": 1244
                            }
                        ],
                        "radius": [
                            "0%",
                            "75%"
                        ],
                        "center": [
                            "50%",
                            "50%"
                        ],
                        "label": {
                            "show": true,
                            "position": "top",
                            "margin": 8,
                            "formatter": "{b}: {c} ({d}%)"
                        },
                        "tooltip": {
                            "show": true,
                            "trigger": "item",
                            "triggerOn": "mousemove|click",
                            "axisPointer": {
                                "type": "line"
                            },
                            "showContent": true,
                            "alwaysShowContent": false,
                            "showDelay": 0,
                            "hideDelay": 100,
                            "formatter": "{a} <br/>{b}: {c} ({d}%)",
                            "textStyle": {
                                "fontSize": 14
                            },
                            "borderWidth": 0,
                            "padding": 5
                        },
                        "rippleEffect": {
                            "show": true,
                            "brushType": "stroke",
                            "scale": 2.5,
                            "period": 4
                        }
                    }
                ],
                "legend": [
                    {
                        "data": [
                            "\u672a\u903e\u671f",
                            "\u903e\u671f"
                        ],
                        "selected": {},
                        "show": true,
                        "padding": 5,
                        "itemGap": 10,
                        "itemWidth": 25,
                        "itemHeight": 14
                    }
                ],
                "tooltip": {
                    "show": true,
                    "trigger": "item",
                    "triggerOn": "mousemove|click",
                    "axisPointer": {
                        "type": "line"
                    },
                    "showContent": true,
                    "alwaysShowContent": false,
                    "showDelay": 0,
                    "hideDelay": 100,
                    "textStyle": {
                        "fontSize": 14
                    },
                    "borderWidth": 0,
                    "padding": 5
                },
                "title": [
                    {
                        "text": "0-30\u5e74\u9f84\u6bb5\u903e\u671f\u60c5\u51b5",
                        "padding": 5,
                        "itemGap": 10
                    }
                ]
            };
            chart_b97e561a28674ba097a37dbe2125474c.setOption(option_b97e561a28674ba097a37dbe2125474c);
        </script>
        <br/>                <div id="71f111fc47864e4ab2e4a876f866fcdb" class="chart-container" style="width:900px; height:500px;"></div>
        <script>
            var chart_71f111fc47864e4ab2e4a876f866fcdb = echarts.init(
                document.getElementById('71f111fc47864e4ab2e4a876f866fcdb'), 'white', {renderer: 'canvas'});
            var option_71f111fc47864e4ab2e4a876f866fcdb = {
                "animation": true,
                "animationThreshold": 2000,
                "animationDuration": 1000,
                "animationEasing": "cubicOut",
                "animationDelay": 0,
                "animationDurationUpdate": 300,
                "animationEasingUpdate": "cubicOut",
                "animationDelayUpdate": 0,
                "color": [
                    "#c23531",
                    "#2f4554",
                    "#61a0a8",
                    "#d48265",
                    "#749f83",
                    "#ca8622",
                    "#bda29a",
                    "#6e7074",
                    "#546570",
                    "#c4ccd3",
                    "#f05b72",
                    "#ef5b9c",
                    "#f47920",
                    "#905a3d",
                    "#fab27b",
                    "#2a5caa",
                    "#444693",
                    "#726930",
                    "#b2d235",
                    "#6d8346",
                    "#ac6767",
                    "#1d953f",
                    "#6950a1",
                    "#918597"
                ],
                "series": [
                    {
                        "type": "pie",
                        "name": "30-45\u5e74\u9f84\u6bb5",
                        "clockwise": true,
                        "data": [
                            {
                                "name": "\u672a\u903e\u671f",
                                "value": 38500
                            },
                            {
                                "name": "\u903e\u671f",
                                "value": 3984
                            }
                        ],
                        "radius": [
                            "0%",
                            "75%"
                        ],
                        "center": [
                            "50%",
                            "50%"
                        ],
                        "label": {
                            "show": true,
                            "position": "top",
                            "margin": 8,
                            "formatter": "{b}: {c} ({d}%)"
                        },
                        "tooltip": {
                            "show": true,
                            "trigger": "item",
                            "triggerOn": "mousemove|click",
                            "axisPointer": {
                                "type": "line"
                            },
                            "showContent": true,
                            "alwaysShowContent": false,
                            "showDelay": 0,
                            "hideDelay": 100,
                            "formatter": "{a} <br/>{b}: {c} ({d}%)",
                            "textStyle": {
                                "fontSize": 14
                            },
                            "borderWidth": 0,
                            "padding": 5
                        },
                        "rippleEffect": {
                            "show": true,
                            "brushType": "stroke",
                            "scale": 2.5,
                            "period": 4
                        }
                    }
                ],
                "legend": [
                    {
                        "data": [
                            "\u672a\u903e\u671f",
                            "\u903e\u671f"
                        ],
                        "selected": {},
                        "show": true,
                        "padding": 5,
                        "itemGap": 10,
                        "itemWidth": 25,
                        "itemHeight": 14
                    }
                ],
                "tooltip": {
                    "show": true,
                    "trigger": "item",
                    "triggerOn": "mousemove|click",
                    "axisPointer": {
                        "type": "line"
                    },
                    "showContent": true,
                    "alwaysShowContent": false,
                    "showDelay": 0,
                    "hideDelay": 100,
                    "textStyle": {
                        "fontSize": 14
                    },
                    "borderWidth": 0,
                    "padding": 5
                },
                "title": [
                    {
                        "text": "30-45\u5e74\u9f84\u6bb5\u903e\u671f\u60c5\u51b5",
                        "padding": 5,
                        "itemGap": 10
                    }
                ]
            };
            chart_71f111fc47864e4ab2e4a876f866fcdb.setOption(option_71f111fc47864e4ab2e4a876f866fcdb);
        </script>
        <br/>                <div id="d9d65ab7b3db4322a51014bda677c484" class="chart-container" style="width:900px; height:500px;"></div>
        <script>
            var chart_d9d65ab7b3db4322a51014bda677c484 = echarts.init(
                document.getElementById('d9d65ab7b3db4322a51014bda677c484'), 'white', {renderer: 'canvas'});
            var option_d9d65ab7b3db4322a51014bda677c484 = {
                "animation": true,
                "animationThreshold": 2000,
                "animationDuration": 1000,
                "animationEasing": "cubicOut",
                "animationDelay": 0,
                "animationDurationUpdate": 300,
                "animationEasingUpdate": "cubicOut",
                "animationDelayUpdate": 0,
                "color": [
                    "#c23531",
                    "#2f4554",
                    "#61a0a8",
                    "#d48265",
                    "#749f83",
                    "#ca8622",
                    "#bda29a",
                    "#6e7074",
                    "#546570",
                    "#c4ccd3",
                    "#f05b72",
                    "#ef5b9c",
                    "#f47920",
                    "#905a3d",
                    "#fab27b",
                    "#2a5caa",
                    "#444693",
                    "#726930",
                    "#b2d235",
                    "#6d8346",
                    "#ac6767",
                    "#1d953f",
                    "#6950a1",
                    "#918597"
                ],
                "series": [
                    {
                        "type": "pie",
                        "name": "45-60\u5e74\u9f84\u6bb5",
                        "clockwise": true,
                        "data": [
                            {
                                "name": "\u672a\u903e\u671f",
                                "value": 53196
                            },
                            {
                                "name": "\u903e\u671f",
                                "value": 3941
                            }
                        ],
                        "radius": [
                            "0%",
                            "75%"
                        ],
                        "center": [
                            "50%",
                            "50%"
                        ],
                        "label": {
                            "show": true,
                            "position": "top",
                            "margin": 8,
                            "formatter": "{b}: {c} ({d}%)"
                        },
                        "tooltip": {
                            "show": true,
                            "trigger": "item",
                            "triggerOn": "mousemove|click",
                            "axisPointer": {
                                "type": "line"
                            },
                            "showContent": true,
                            "alwaysShowContent": false,
                            "showDelay": 0,
                            "hideDelay": 100,
                            "formatter": "{a} <br/>{b}: {c} ({d}%)",
                            "textStyle": {
                                "fontSize": 14
                            },
                            "borderWidth": 0,
                            "padding": 5
                        },
                        "rippleEffect": {
                            "show": true,
                            "brushType": "stroke",
                            "scale": 2.5,
                            "period": 4
                        }
                    }
                ],
                "legend": [
                    {
                        "data": [
                            "\u672a\u903e\u671f",
                            "\u903e\u671f"
                        ],
                        "selected": {},
                        "show": true,
                        "padding": 5,
                        "itemGap": 10,
                        "itemWidth": 25,
                        "itemHeight": 14
                    }
                ],
                "tooltip": {
                    "show": true,
                    "trigger": "item",
                    "triggerOn": "mousemove|click",
                    "axisPointer": {
                        "type": "line"
                    },
                    "showContent": true,
                    "alwaysShowContent": false,
                    "showDelay": 0,
                    "hideDelay": 100,
                    "textStyle": {
                        "fontSize": 14
                    },
                    "borderWidth": 0,
                    "padding": 5
                },
                "title": [
                    {
                        "text": "45-60\u5e74\u9f84\u6bb5\u903e\u671f\u60c5\u51b5",
                        "padding": 5,
                        "itemGap": 10
                    }
                ]
            };
            chart_d9d65ab7b3db4322a51014bda677c484.setOption(option_d9d65ab7b3db4322a51014bda677c484);
        </script>
        <br/>                <div id="553b6675ed3c482ba297b5a55e37381a" class="chart-container" style="width:900px; height:500px;"></div>
        <script>
            var chart_553b6675ed3c482ba297b5a55e37381a = echarts.init(
                document.getElementById('553b6675ed3c482ba297b5a55e37381a'), 'white', {renderer: 'canvas'});
            var option_553b6675ed3c482ba297b5a55e37381a = {
                "animation": true,
                "animationThreshold": 2000,
                "animationDuration": 1000,
                "animationEasing": "cubicOut",
                "animationDelay": 0,
                "animationDurationUpdate": 300,
                "animationEasingUpdate": "cubicOut",
                "animationDelayUpdate": 0,
                "color": [
                    "#c23531",
                    "#2f4554",
                    "#61a0a8",
                    "#d48265",
                    "#749f83",
                    "#ca8622",
                    "#bda29a",
                    "#6e7074",
                    "#546570",
                    "#c4ccd3",
                    "#f05b72",
                    "#ef5b9c",
                    "#f47920",
                    "#905a3d",
                    "#fab27b",
                    "#2a5caa",
                    "#444693",
                    "#726930",
                    "#b2d235",
                    "#6d8346",
                    "#ac6767",
                    "#1d953f",
                    "#6950a1",
                    "#918597"
                ],
                "series": [
                    {
                        "type": "pie",
                        "name": "60-75\u5e74\u9f84\u6bb5",
                        "clockwise": true,
                        "data": [
                            {
                                "name": "\u672a\u903e\u671f",
                                "value": 36896
                            },
                            {
                                "name": "\u903e\u671f",
                                "value": 1293
                            }
                        ],
                        "radius": [
                            "0%",
                            "75%"
                        ],
                        "center": [
                            "50%",
                            "50%"
                        ],
                        "label": {
                            "show": true,
                            "position": "top",
                            "margin": 8,
                            "formatter": "{b}: {c} ({d}%)"
                        },
                        "tooltip": {
                            "show": true,
                            "trigger": "item",
                            "triggerOn": "mousemove|click",
                            "axisPointer": {
                                "type": "line"
                            },
                            "showContent": true,
                            "alwaysShowContent": false,
                            "showDelay": 0,
                            "hideDelay": 100,
                            "formatter": "{a} <br/>{b}: {c} ({d}%)",
                            "textStyle": {
                                "fontSize": 14
                            },
                            "borderWidth": 0,
                            "padding": 5
                        },
                        "rippleEffect": {
                            "show": true,
                            "brushType": "stroke",
                            "scale": 2.5,
                            "period": 4
                        }
                    }
                ],
                "legend": [
                    {
                        "data": [
                            "\u672a\u903e\u671f",
                            "\u903e\u671f"
                        ],
                        "selected": {},
                        "show": true,
                        "padding": 5,
                        "itemGap": 10,
                        "itemWidth": 25,
                        "itemHeight": 14
                    }
                ],
                "tooltip": {
                    "show": true,
                    "trigger": "item",
                    "triggerOn": "mousemove|click",
                    "axisPointer": {
                        "type": "line"
                    },
                    "showContent": true,
                    "alwaysShowContent": false,
                    "showDelay": 0,
                    "hideDelay": 100,
                    "textStyle": {
                        "fontSize": 14
                    },
                    "borderWidth": 0,
                    "padding": 5
                },
                "title": [
                    {
                        "text": "60-75\u5e74\u9f84\u6bb5\u903e\u671f\u60c5\u51b5",
                        "padding": 5,
                        "itemGap": 10
                    }
                ]
            };
            chart_553b6675ed3c482ba297b5a55e37381a.setOption(option_553b6675ed3c482ba297b5a55e37381a);
        </script>
        <br/>                <div id="e27f073657a64cdca5e871d074f6dda6" class="chart-container" style="width:900px; height:500px;"></div>
        <script>
            var chart_e27f073657a64cdca5e871d074f6dda6 = echarts.init(
                document.getElementById('e27f073657a64cdca5e871d074f6dda6'), 'white', {renderer: 'canvas'});
            var option_e27f073657a64cdca5e871d074f6dda6 = {
                "animation": true,
                "animationThreshold": 2000,
                "animationDuration": 1000,
                "animationEasing": "cubicOut",
                "animationDelay": 0,
                "animationDurationUpdate": 300,
                "animationEasingUpdate": "cubicOut",
                "animationDelayUpdate": 0,
                "color": [
                    "#c23531",
                    "#2f4554",
                    "#61a0a8",
                    "#d48265",
                    "#749f83",
                    "#ca8622",
                    "#bda29a",
                    "#6e7074",
                    "#546570",
                    "#c4ccd3",
                    "#f05b72",
                    "#ef5b9c",
                    "#f47920",
                    "#905a3d",
                    "#fab27b",
                    "#2a5caa",
                    "#444693",
                    "#726930",
                    "#b2d235",
                    "#6d8346",
                    "#ac6767",
                    "#1d953f",
                    "#6950a1",
                    "#918597"
                ],
                "series": [
                    {
                        "type": "pie",
                        "name": "75-100\u5e74\u9f84\u6bb5",
                        "clockwise": true,
                        "data": [
                            {
                                "name": "\u672a\u903e\u671f",
                                "value": 11129
                            },
                            {
                                "name": "\u903e\u671f",
                                "value": 228
                            }
                        ],
                        "radius": [
                            "0%",
                            "75%"
                        ],
                        "center": [
                            "50%",
                            "50%"
                        ],
                        "label": {
                            "show": true,
                            "position": "top",
                            "margin": 8,
                            "formatter": "{b}: {c} ({d}%)"
                        },
                        "tooltip": {
                            "show": true,
                            "trigger": "item",
                            "triggerOn": "mousemove|click",
                            "axisPointer": {
                                "type": "line"
                            },
                            "showContent": true,
                            "alwaysShowContent": false,
                            "showDelay": 0,
                            "hideDelay": 100,
                            "formatter": "{a} <br/>{b}: {c} ({d}%)",
                            "textStyle": {
                                "fontSize": 14
                            },
                            "borderWidth": 0,
                            "padding": 5
                        },
                        "rippleEffect": {
                            "show": true,
                            "brushType": "stroke",
                            "scale": 2.5,
                            "period": 4
                        }
                    }
                ],
                "legend": [
                    {
                        "data": [
                            "\u672a\u903e\u671f",
                            "\u903e\u671f"
                        ],
                        "selected": {},
                        "show": true,
                        "padding": 5,
                        "itemGap": 10,
                        "itemWidth": 25,
                        "itemHeight": 14
                    }
                ],
                "tooltip": {
                    "show": true,
                    "trigger": "item",
                    "triggerOn": "mousemove|click",
                    "axisPointer": {
                        "type": "line"
                    },
                    "showContent": true,
                    "alwaysShowContent": false,
                    "showDelay": 0,
                    "hideDelay": 100,
                    "textStyle": {
                        "fontSize": 14
                    },
                    "borderWidth": 0,
                    "padding": 5
                },
                "title": [
                    {
                        "text": "75-100\u5e74\u9f84\u6bb5\u903e\u671f\u60c5\u51b5",
                        "padding": 5,
                        "itemGap": 10
                    }
                ]
            };
            chart_e27f073657a64cdca5e871d074f6dda6.setOption(option_e27f073657a64cdca5e871d074f6dda6);
        </script>
        <br/>    </div>
    <script>
    </script>
    </body>
{%  endblock %}

</html>
