<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.5.2.2.min.css') }}">
</head>

<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.ee.columbia.edu/~cylin/course/bigdata/">EECS6893</a>
        </li>
{#        <li class="nav-item dropdown">#}
{#          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#            Details#}
{#          </a>#}
{#          <ul class="dropdown-menu">#}
{#            <li><a class="dropdown-item" href="/age">Action</a></li>#}
{#            <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#            <li><hr class="dropdown-divider"></li>#}
{#            <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#          </ul>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link disabled">Disabled</a>#}
{#        </li>#}
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

{#<h3 style="color: #0d6efd">     visualization by selected features</h3>#}

<ul class="nav">
    <li class="nav-item">
    <a class="nav-link disabled">select one feature to visualize</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/age">Age</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/families">Family</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/income">Income</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/past_due">Overdue History</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/real_estate">Real Estate</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Overview</a>
  </li>
</ul>


{% block body %}{% endblock %}

<footer >This is a course project of EECS6893 @ Columbia University</footer>
</body>
</html>