{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
{% block body %}
{#<ul>#}
{#    <li>#}
{#        <a href="/">Home Page</a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="/age">Age</a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="/families">Families</a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="/income">Mean Income</a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="/past_due">Overdue History</a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="/real_estate">Real Estate</a>#}
{#    </li>#}
{#</ul>#}
{% endblock %}
{#<footer >This is a group project of EECS6893 @ Columbia University</footer>#}
</body>
</html>