<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
{%  extends "base.html" %}
{%  block body %}
<body>
<h1>Overdue Details by Real Estate Property</h1>
    <style>.box {  }; </style>
    <div class="box">
                <div id="457b1d813689465f88db54fa89e6e2a1" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_457b1d813689465f88db54fa89e6e2a1 = echarts.init(
            document.getElementById('457b1d813689465f88db54fa89e6e2a1'), 'white', {renderer: 'canvas'});
        var option_457b1d813689465f88db54fa89e6e2a1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u4eba\u6570",
            "legendHoverLink": true,
            "data": [
                56188,
                93812
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4eba\u6570"
            ],
            "selected": {
                "\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u65e0\u623f\u4ea7\u62b5\u62bc\u4eba\u6570",
                "\u6709\u623f\u4ea7\u62b5\u62bc\u4eba\u6570"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u623f\u4ea7\u62b5\u62bc\u4eba\u6570\u5206\u5e03",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_457b1d813689465f88db54fa89e6e2a1.setOption(option_457b1d813689465f88db54fa89e6e2a1);
    </script>
<br/>                <div id="2b573d7cb1b14b558b45b1a55c77d8f1" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_2b573d7cb1b14b558b45b1a55c77d8f1 = echarts.init(
            document.getElementById('2b573d7cb1b14b558b45b1a55c77d8f1'), 'white', {renderer: 'canvas'});
        var option_2b573d7cb1b14b558b45b1a55c77d8f1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "name": "\u603b\u4f53\u903e\u671f\u4eba\u6570",
            "clockwise": true,
            "data": [
                {
                    "name": "\u672a\u903e\u671f\u4eba\u6570",
                    "value": 139974
                },
                {
                    "name": "\u903e\u671f\u4eba\u6570",
                    "value": 10026
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c} ({d}%)"
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "formatter": "{a} <br/>{b}: {c} ({d}%)",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u672a\u903e\u671f\u4eba\u6570",
                "\u903e\u671f\u4eba\u6570"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u603b\u4f53\u903e\u671f\u4eba\u6570\u5206\u5e03",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_2b573d7cb1b14b558b45b1a55c77d8f1.setOption(option_2b573d7cb1b14b558b45b1a55c77d8f1);
    </script>
<br/>                <div id="e360efb73861434680f58f5da2566875" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_e360efb73861434680f58f5da2566875 = echarts.init(
            document.getElementById('e360efb73861434680f58f5da2566875'), 'white', {renderer: 'canvas'});
        var option_e360efb73861434680f58f5da2566875 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "name": "\u65e0\u623f\u4ea7\u62b5\u62bc\u7684\u4eba\u7684\u903e\u671f\u60c5\u51b5",
            "clockwise": true,
            "data": [
                {
                    "name": "\u672a\u903e\u671f",
                    "value": 51516
                },
                {
                    "name": "\u903e\u671f",
                    "value": 4672
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c} ({d}%)"
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "formatter": "{a} <br/>{b}: {c} ({d}%)",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u672a\u903e\u671f",
                "\u903e\u671f"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u65e0\u623f\u4ea7\u62b5\u62bc\u7684\u4eba\u7684\u903e\u671f\u60c5\u51b5",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_e360efb73861434680f58f5da2566875.setOption(option_e360efb73861434680f58f5da2566875);
    </script>
<br/>                <div id="cfa6a3f571fc4c998f3681bd83114bcc" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_cfa6a3f571fc4c998f3681bd83114bcc = echarts.init(
            document.getElementById('cfa6a3f571fc4c998f3681bd83114bcc'), 'white', {renderer: 'canvas'});
        var option_cfa6a3f571fc4c998f3681bd83114bcc = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "name": "\u6709\u623f\u4ea7\u62b5\u62bc\u7684\u4eba\u7684\u903e\u671f\u60c5\u51b5",
            "clockwise": true,
            "data": [
                {
                    "name": "\u672a\u903e\u671f",
                    "value": 88458
                },
                {
                    "name": "\u903e\u671f",
                    "value": 5354
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c} ({d}%)"
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "formatter": "{a} <br/>{b}: {c} ({d}%)",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u672a\u903e\u671f",
                "\u903e\u671f"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u6709\u623f\u4ea7\u62b5\u62bc\u7684\u4eba\u7684\u903e\u671f\u60c5\u51b5",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_cfa6a3f571fc4c998f3681bd83114bcc.setOption(option_cfa6a3f571fc4c998f3681bd83114bcc);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
{% endblock %}
</html>
